<div class='container'>
  <nav>
    <h1>Y A S T</h1>
    <a id='about' href='/'>about</a>
  </nav>
  <div style='margin: 0; padding: 0'id="canvasContainer"></div>
  {{!-- <div id='picContainer'>
    <img id='modelImage' src=''>
  </div> --}}
  <div class='messageContainer hidden'>
    <div>
      <p><strong>Yet Another Style Transfer</strong></p>
      <p>Image reacts to sound by changing filters</p>
      <p><strong class='blue'>Blue circle</strong> or <strong>Q</strong> - change style</p>
      <p><strong class='red'>Red circle</strong> or <strong>W</strong> - record 10s video</p>
      <p><strong class='green'>Green circle</strong> or <strong>E</strong> or <strong>hand clap</strong> - change filter</p>
      <p>Current model is <h2></h2></p>
    </div>
    <div class='footer'>
      <p>by antbrw@gmail.com</p>
    </div>
  </div>
  <div class='btn-container'>
    <button id="blueButton"></button>
    <button id="redButton"></button>
    <button id="greenButton"></button>
    {{!-- <button id="audioButton"></button> --}}
  </div>
</div>
